mongodb:
  mongodbUsername: "root"
  mongodbPassword: "admin"
  mongodbRootPassword: "admin"

postgresql:
  initdbUsername: coog
  initdbPassword:	coog
  postgresqlPassword: coog

coog:
  # -- sensitive trytond
  trytond_batch_report__uri: "changeme"
  trytond_cryptolog__password: "changeme"
  database_uri: "postgresql://coog:coog@postgresql:5432/coog"
  trytond_document_api__document_token_secret: "changeme"
  trytond_migration__password: "changeme"
  trytond_paybox__secret: "changeme"
  trytond_strapi__admin_password: "changeme"
  trytond_strapi__admin_email: "changeme"
  postgres:
    database: coog
    user: coog
    password: coog
  trytond_prest_ij__access_key:  "changeme"
  trytond_primotexto__key: "changeme"
  trytond_reset_password_api__password_token_secret: "changeme"
  trytond_session_passphrase: "changeme"
  email_uri: "changeme"

gateway:
  mongodb_user: root
  mongodb_root_password: admin
  jwt:
    encryption: secret
    expiration: 3600
  coog_web_token: "changeme"
  forcedotcom_client_id: "changeme"
  forcedotcom_client_secret: "changeme"

customer_backend:
  coog_web_token: ''

paybox:
  coog_username: coog
  coog_password: coog