stages:
  - synchronize
  - upload

# synchronize:coreye:
#   stage: synchronize
#   image: curlimages/curl
#   script:
#     - echo "Job temporary disable (enable when migration from Github is over)"
#     #- |-
#     #  if [ "${CI_COMMIT_REF_NAME}" = "master" ]
#     #  then
#     #    curl -X POST
#     #      -F token=mySecretToken
#     #      -F ref=coog-${CURRENT_DEV_VERSION}
#     #      -F "variables[IMAGE_TAG]=date +\"coog-${CURRENT_DEV_VERSION}.%y%V\""
#     #      -F "variables[IMAGE_NAME]=coog"
#     #      https://git.coreye.fr/api/v4/projects/434/trigger/pipeline
#     #  else
#     #    curl -X POST
#     #      -F token=mySecretToken
#     #      -F ref=${CI_COMMIT_REF_NAME}
#     #      -F "variables[IMAGE_TAG]=date +\"${CI_COMMIT_REF_NAME}.%y%V\""
#     #      -F "variables[IMAGE_NAME]=coog"
#     #      https://git.coreye.fr/api/v4/projects/434/trigger/pipeline
#     #  fi
#   rules:
#     - if: '$CI_PIPELINE_SOURCE == "push"'

synchronize:pipeline:
  stage: synchronize
  image: bitnami/git:latest
  before_script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H "${CI_SERVER_HOST}" >>~/.ssh/known_hosts
    - git config --global user.email "${GITLAB_USER_EMAIL}"
    - git config --global user.name " GitLab CI/CD "
    - git remote set-url origin https://gitlab-ci-token:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git 
    - git fetch --all
  script:
    - |-
      for BRANCH in $(git ls-remote --refs -h origin -l "coog-*" | cut -s -d '/' -f3 | grep -E "^(coog-[[:digit:]]{1}).([[:digit:]]{1,}(([r][c])([[:digit:]]{1,}))?)$" )
      do
        git checkout "${BRANCH}"
        git checkout "origin/${CI_COMMIT_SHORT_SHA}" .gitlab-ci.yml
        git commit -m "Merge .gitlab-ci.yml from \"${CI_COMMIT_SHORT_SHA}\""
      done
      git push --all
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
      changes:
        - ".gitlab-ci.yml"

upload:helm-chart:
  stage: upload
  image: alpine/helm
  variables:
    REPOSITORY_SSH_KEY: "${SSH_KEY}"
  before_script:
    - apk add --no-cache curl yq jq git openssh-client
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - ssh-keyscan -H 'gitlab.com' >> ~/.ssh/known_hosts
    - echo "${REPOSITORY_SSH_KEY}" > ~/.ssh/id_rsa && chmod 400 ~/.ssh/id_rsa
    - ssh-keygen -y -f ~/.ssh/id_rsa > ~/.ssh/id_rsa.pub
    - git config --global user.email "${GITLAB_USER_EMAIL}" &&
      git config --global user.name " GitLab CI/CD " &&
      git remote set-url origin git@${CI_SERVER_HOST}:${CI_PROJECT_PATH}.git 
  script:
    - |-
      for HELM_PROJECT in $(find . -mindepth 1 -maxdepth 1 -type d ! -name ".git" -exec basename {} \;)
      do
        export HELM_PROJECT_VERSION="$(yq e '.version' "${CI_PROJECT_DIR}/${HELM_PROJECT}/Chart.yaml")"
        if [ -f "${CI_PROJECT_DIR}/${HELM_PROJECT}/Chart.yaml" ]
        then
          if [[ $(curl -s --fail --header --request GET --user gitlab-ci-token:${CI_JOB_TOKEN} "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages?package_type=helm&package_name=${HELM_PROJECT}" | jq -r --arg JQVERSION "${HELM_PROJECT_VERSION}" '.[] | select( .version == $JQVERSION ) | .version') ]]
          then
            echo "Helm package ${HELM_PROJECT}-${HELM_PROJECT_VERSION} already exists."
          else
            if [ $(git tag -l "${HELM_PROJECT}-${HELM_PROJECT_VERSION}") ]
            then
              echo "TAG ${HELM_PROJECT}-${HELM_PROJECT_VERSION} already exists"
            else
              git tag -a ${HELM_PROJECT}-${HELM_PROJECT_VERSION} -m "Create TAG ${HELM_PROJECT}-${HELM_PROJECT_VERSION}"
              git push --tags
              helm dependency update ${HELM_PROJECT}
              helm package ${HELM_PROJECT}
            curl -s --fail --request POST --user gitlab-ci-token:${CI_JOB_TOKEN} --form "chart=@${HELM_PROJECT}-${HELM_PROJECT_VERSION}.tgz" "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts"
            fi
          fi
        else
          echo "Directory ${HELM_PROJECT} doesn't have Chart.yaml"
        fi
      done
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_PROTECTED'
      changes:
        - "**/Chart.yaml"
