{{- if .Values.customer_frontend.enabled -}}
{{- if .Values.customer_frontend.ingress.enabled -}}
{{- $fullName := include "full_name" . -}}
{{- $kubeVersion := .Capabilities.KubeVersion.Version -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
{{ include "chart_labels" . | indent 4 }}
  annotations:
    {{- range $key, $value := .Values.customer_frontend.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
{{- if .Values.customer_frontend.ingress.tls }}
  tls:
  {{- range .Values.customer_frontend.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- range .Values.customer_frontend.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
        {{- range .paths }}
        {{- if semverCompare ">=1.19-0" $kubeVersion }}
        - path: {{ . }}
          pathType: Prefix
          backend:
            service:
              name: {{ $fullName }}
              port:
                name: http
        {{ else }}
        - path: {{ . }}
          backend:
            serviceName: {{ $fullName }}
            servicePort: http
        {{- end }}
        {{- end }}
  {{- end }}
{{- end }}
{{- end }}
