{{- if (or .Values.customerBackend.enabled
          .Values.customerFrontend.enabled)
-}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "general.names.fullname" . }}
  labels: {{- include "general.labels.standard" . | nindent 4 }}
spec:
  replicas: {{ default .Values.replicaCount .Values.customerBackend.replicaCount }}
  strategy:
    type: {{ default .Values.strategy.type .Values.customerBackend.strategy.type }}
  selector:
    matchLabels: {{- include "general.labels.matchLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{- include "general.labels.standard" . | nindent 8 }}
        {{- if .Values.istio.enabled }}
        sidecar.istio.io/inject: "true"
        {{- end }}
      annotations:
        {{- if .Values.extraEnvVar }}
        checksum/configmap-global: {{ include (printf "%s/%s" $.Template.BasePath "configmap-global.yaml") . | sha256sum  }}
        {{- end }}
        checksum/configmap: {{ include (printf "%s/%s/%s" $.Template.BasePath (base (dir .Template.Name)) "configmap.yaml") . | sha256sum }}
        {{- if (and .Values.secrets .Values.secrets.extraEnvVar) }}
        checksum/secret-global: {{ include (printf "%s/%s" $.Template.BasePath "secret-global.yaml") . | sha256sum  }}
        {{- end }}
        checksum/secret: {{ include (printf "%s/%s/%s" $.Template.BasePath (base (dir .Template.Name)) "secret.yaml") . | sha256sum }}
    spec:
      imagePullSecrets:
        - name: {{ (default "docker-registry" (and .Values.imageCredentials .Values.imageCredentials.name)) }}
      volumes:
        - name: builddir
          emptyDir: {}
      initContainers:
        - name: {{ printf "%s-build" (include "general.names.name" .) | trunc 63 | trimSuffix "-" }}
          image: "{{ default .Values.image.repository .Values.customerBackend.image.repository }}/{{ .Values.customerBackend.image.name }}:{{ default .Values.image.tag .Values.customerBackend.image.tag }}"
          imagePullPolicy: {{ default .Values.image.pullPolicy .Values.customerBackend.image.pullPolicy | quote }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            procMount: Default
            runAsNonRoot: true
            runAsUser: {{ default .Values.securityContext.runAsUser .Values.customerBackend.securityContext.runAsUser }}
            runAsGroup: {{ default .Values.securityContext.runAsGroup .Values.customerBackend.securityContext.runAsGroup }}
          resources: {{- toYaml .Values.customerBackend.initContainers.resources | nindent 12 }}
          command: ['yarn', 'build', '--no-optimization']
          volumeMounts:
            - name: builddir
              mountPath: "/workdir/build"
          envFrom:
            {{- if .Values.extraEnvVar }}
            - configMapRef:
                name: {{ printf "%s-global-configuration" (include "general.names.short" .) }}
            {{- end }}
            - configMapRef:
                name: {{ printf "%s-configuration" (include "general.names.fullname" .) }}
            {{- if (and .Values.secrets .Values.secrets.extraEnvVar) }}
            - secretRef:
                name: {{ printf "%s-global-configuration" (include "general.names.short" .) }}
            {{- end }}
            - secretRef:
                name: {{ printf "%s-configuration" (include "general.names.fullname" .) }}
      containers:
        - name: {{ include "general.names.name" . }}
          image: "{{ default .Values.image.repository .Values.customerBackend.image.repository }}/{{ .Values.customerBackend.image.name }}:{{ default .Values.image.tag .Values.customerBackend.image.tag }}"
          imagePullPolicy: {{ default .Values.image.pullPolicy .Values.customerBackend.image.pullPolicy | quote }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            procMount: Default
            runAsNonRoot: true
            runAsUser: {{ default .Values.securityContext.runAsUser .Values.customerBackend.securityContext.runAsUser }}
            runAsGroup: {{ default .Values.securityContext.runAsGroup .Values.customerBackend.securityContext.runAsGroup }}
          volumeMounts:
            - name: builddir
              mountPath: "/workdir/build"
          envFrom:
            {{- if .Values.extraEnvVar }}
            - configMapRef:
                name: {{ printf "%s-global-configuration" (include "general.names.short" .) }}
            {{- end }}
            - configMapRef:
                name: {{ printf "%s-configuration" (include "general.names.fullname" .) }}
            {{- if (and .Values.secrets .Values.secrets.extraEnvVar) }}
            - secretRef:
                name: {{ printf "%s-global-configuration" (include "general.names.short" .) }}
            {{- end }}
            - secretRef:
                name: {{ printf "%s-configuration" (include "general.names.fullname" .) }}
          ports:
            - name: http
              containerPort: 1337
          startupProbe:
            httpGet:
              path: /
              port: http
            {{- include "general.tplvalues.render" (dict "value" (default .Values.startupProbe .Values.customerBackend.startupProbe) "context" $) | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /
              port: http
            {{- include "general.tplvalues.render" (dict "value" (default .Values.livenessProbe .Values.customerBackend.livenessProbe) "context" $) | nindent 12 }}
          readinessProbe:
            httpGet:
              path: /
              port: http
            {{- include "general.tplvalues.render" (dict "value" (default .Values.readinessProbe .Values.customerBackend.readinessProbe) "context" $) | nindent 12 }}
          resources: {{- toYaml .Values.customerBackend.resources | nindent 12 }}
      {{- with default .Values.nodeSelector .Values.customerBackend.nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with default .Values.affinity .Values.customerBackend.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with default .Values.tolerations .Values.customerBackend.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if default .Values.dnsPolicy .Values.customerBackend.dnsPolicy }}
      dnsPolicy: {{ default .Values.dnsPolicy .Values.customerBackend.dnsPolicy }}
      {{- end }}
      {{- if default .Values.dnsConfig .Values.customerBackend.dnsConfig }}
      dnsConfig: {{- toYaml default .Values.dnsConfig .Values.customerBackend.dnsConfig | indent 8 }}
      {{- end }}
{{- end }}
