{{- if .Values.customer_backend.enabled -}}
{{- if .Values.customer_backend.ingress.enabled -}}
{{- $fullName := include "full_name" . -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
{{ include "chart_labels" . | indent 4 }}
  annotations:
    {{- range $key, $value := .Values.customer_backend.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
{{- if .Values.customer_backend.ingress.tls }}
  tls:
  {{- range .Values.customer_backend.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- range .Values.customer_backend.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
        {{- range .paths }}
          - path: {{ . }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: http
        {{- end }}
  {{- end }}
{{- end }}
{{- end }}
