apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-backcore-configuration" (include "general.names.short" .) }}
  labels: {{- include "general.labels.standard" . | nindent 4 }}
data:
  # Database
  COOG_POSTGRES_HOST: {{ default (printf "%s-%s" .Release.Name "postgresql") .Values.postgresql.host | quote }}
  COOG_POSTGRES_PORT: {{ default "5432" .Values.postgresql.service.ports.postgresql | quote }}
  COOG_DB_NAME: {{ default .Release.Name .Values.postgresql.auth.database | quote }}
  DB_NAME: {{ default .Release.Name .Values.postgresql.auth.database | quote }} # duplicate of COOG_DB_NAME
  # Tryton
  {{- if .Values.libroconv.enabled }}
  TRYTOND_REPORT__API: {{ printf "http://%s:5000/unoconv/{oext}/%s" .Values.libroconv.sharedServiceName .Values.libroconv.sharedNamespace | quote }}
  {{- end }}
  TRYTOND_DATABASE_NAMES: {{ default .Release.Name (include "postgres.databases" .) | quote }}
  {{- if (or .Values.frontCore.enabled
          .Values.apiB2c.enabled
          .Values.apiReferential.enabled
          .Values.b2c.enabled
          .Values.b2b.enabled
          .Values.customerBackend.enabled
          .Values.customerFrontend.enabled)
  }}
  TRYTOND_GATEWAY__URL: {{ printf "http://%s-gateway" (include "general.names.short" .) | quote }}
  {{- end }}
  {{- range $key, $value := .Values.backCore.extraEnvVar }}
  {{- if ne $key "LOG_LEVEL" }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.backCore.migrator.enabled }}
  {{- range $key, $value := .Values.backCore.migrator.extraEnvVar }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
