{{- if .Values.api.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "full_name" . }}
  labels:
{{ include "chart_labels" . | indent 4 }}
spec:
  replicas: {{ .Values.api.replicaCount }}
{{- if not .Values.quota.rolling_update }}
  strategy:
    type: Recreate
{{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "short_name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "short_name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
    {{- with .Values.api.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
        - name: {{ include "short_name" . }}
          image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag }}"
          imagePullPolicy: {{ .Values.api.image.pullPolicy }}
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            procMount: Default
            runAsNonRoot: true
            runAsUser: {{ .Values.coog.securityContext.runAsUser }}
          env:
            {{- if and .Values.secrets.api .Values.secrets.api.mongodb_uri }}
            - name:  MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: coog-api-mongo-db-secret
                  key: MONGODB_URI
            {{ else }}
            - name:  MONGO_HOST
            {{- if not .Values.gateway.external_mongodb.enabled }}
              value: "{{ .Release.Name }}-mongodb"
            {{- else }}
              value: "{{ .Values.gateway.external_mongodb.host }}"
            {{- end }}
            - name:  MONGO_PORT
            {{- if not .Values.gateway.external_mongodb.enabled }}
              value: "{{ .Values.mongodb.service.port }}"
            {{- else }}
              value: "{{ .Values.gateway.external_mongodb.port }}"
            {{- end }}
            - name:  MONGO_DB_NAME
              value: "{{ .Values.api.mongodb.database }}"
            - name:  MONGO_IDENTITY_DB_NAME
              value: "{{ default .Values.api.mongodb.database .Values.api.mongodb.api_database }}"
            {{ end }}
            - name: COOG_URL
              value: "http://{{ .Release.Name }}-{{ .Chart.Name }}-coog"
            - name: COOG_DB_NAME
              value: "{{ .Values.secrets.coog.postgres.database }}"
            - name:  COOG_API_V1_URL
              value: "http://{{ .Release.Name }}-{{ .Chart.Name }}-web"
            - name:  JWT_INTERNAL_ENCRYPTION
              value: "{{ .Values.jwt.internal.encryption }}"
            {{- if .Values.api.extraEnv }}
            {{- range $key, $value := .Values.api.extraEnv }}
            - name:  {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- end }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
      {{- with .Values.api.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.api.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.api.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- if .Values.api.dnsPolicy }}
      dnsPolicy: {{ .Values.api.dnsPolicy }}
{{- end }}
{{- if .Values.api.dnsConfig }}
      dnsConfig:
{{ toYaml .Values.api.dnsConfig | indent 8 }}
{{- end }}
{{- end }}
