{{- if .Values.api_b2c.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "full_name" . }}
  labels:
{{ include "chart_labels" . | indent 4 }}
spec:
  replicas: {{ .Values.api_b2c.replicaCount }}
{{- if not .Values.quota.rolling_update }}
  strategy:
    type: Recreate
{{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "short_name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "short_name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
    {{- with .Values.api_b2c.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.api_b2c.image.repository }}:{{ .Values.api_b2c.image.tag }}"
          imagePullPolicy: {{ .Values.api_b2c.image.pullPolicy }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            procMount: Default
            runAsNonRoot: true
            runAsUser: 1000
          env:
            - name: COOG_URL
              value: "http://{{ .Release.Name }}-{{ .Chart.Name }}-coog"
            - name: COOG_DB_NAME
              value: "{{ .Values.secrets.coog.postgres.database }}"
            {{- if .Values.secrets.coog.trytond_document_api__document_token_secret }}
            - name: COOG_DOCUMENT_TOKEN_SECRET
              valueFrom:
                secretKeyRef:
                  name: coog-trytond-secret
                  key: TRYTOND_DOCUMENT_API__DOCUMENT_TOKEN_SECRET
            {{- end }}
            - name:  JWT_INTERNAL_ENCRYPTION
              value: "{{ .Values.jwt.internal.encryption }}"
            {{- if .Values.api_b2c.extraEnv }}
            {{- range $key, $value := .Values.api_b2c.extraEnv }}
            - name:  {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- end }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.api_b2c.resources | nindent 12 }}
      {{- with .Values.api_b2c.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.api_b2c.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.api_b2c.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- if .Values.api_b2c.dnsPolicy }}
      dnsPolicy: {{ .Values.api_b2c.dnsPolicy }}
{{- end }}
{{- if .Values.api_b2c.dnsConfig }}
      dnsConfig:
{{ toYaml .Values.api_b2c.dnsConfig | indent 8 }}
{{- end }}
{{- end }}
